@import './toastify/main';
@import './date-picker/index';
@import url('https://rsms.me/inter/inter.css');

html {
  --scrollbarBG: #fff;
  --thumbBG: #333;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  overflow: hidden;
}
